<div class="suggest_container">
  <h2>Friend Suggestions</h2>
  <div class="side_suggests">
    <div class="suggest_user">
      <div class="suggest_user_data">
        <img
          class="avatar"
          src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="user image"
        />
        <div class="suggest_user_info">
          <span class="suggest_user_name">Julia Smith</span>
          <span class="suggest_user_username">{{ 'juliasmith'| username }}</span>
        </div>
      </div>
      <button class="suggest_user_btn">
        <app-icon [icon]="'plusGrey'"/>
      </button>
    </div>
    <div class="suggest_user">
      <div class="suggest_user_data">
        <img
          class="avatar"
          src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="user image"
        />
        <div class="suggest_user_info">
          <span class="suggest_user_name">Julia Smith</span>
          <span class="suggest_user_username">{{ 'juliasmith'| username }}</span>
        </div>
      </div>
      <button class="suggest_user_btn">
        <app-icon [icon]="'plusGrey'"/>
      </button>
    </div>
    <div class="suggest_user">
      <div class="suggest_user_data">
        <img
          class="avatar"
          src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="user image"
        />
        <div class="suggest_user_info">
          <span class="suggest_user_name">Julia Smith</span>
          <span class="suggest_user_username">{{ 'juliasmith'| username }}</span>
        </div>
      </div>
      <button class="suggest_user_btn">
        <app-icon [icon]="'plusGrey'"/>
      </button>
    </div>
    <div class="suggest_user">
      <div class="suggest_user_data">
        <img
          class="avatar"
          src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="user image"
        />
        <div class="suggest_user_info">
          <span class="suggest_user_name">Julia Smith</span>
          <span class="suggest_user_username">{{ 'juliasmith'| username }}</span>
        </div>
      </div>
      <button class="suggest_user_btn">
        <app-icon [icon]="'plusGrey'"/>
      </button>
    </div>
    <div class="suggest_user">
      <div class="suggest_user_data">
        <img
          class="avatar"
          src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="user image"
        />
        <div class="suggest_user_info">
          <span class="suggest_user_name">Julia Smith</span>
          <span class="suggest_user_username">{{ 'juliasmith'| username }}</span>
        </div>
      </div>
      <button class="suggest_user_btn">
        <app-icon [icon]="'plusGrey'"/>
      </button>
    </div>
    <div class="suggest_user">
      <div class="suggest_user_data">
        <img
          class="avatar"
          src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="user image"
        />
        <div class="suggest_user_info">
          <span class="suggest_user_name">Julia Smith</span>
          <span class="suggest_user_username">{{ 'juliasmith'| username }}</span>
        </div>
      </div>
      <button class="suggest_user_btn">
        <app-icon [icon]="'plusGrey'"/>
      </button>
    </div>
  </div>
</div>
