<div class="sidaright_container">
  <h2>Frend Suggestions</h2>
  <div class="sideright_sugges">
    <div class="sideright_suggest_user">
      <div class="sideright_suggest_user_data">
        <img
          class="avatar"
          src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="user image"
        />
        <div class="sideright_suggest_user_info">
          <span class="sideright_suggest_user_name">Julia Smith</span>
          <span class="sideright_suggest_user_username">juliasmith</span>
        </div>
      </div>
      <button class="sideright_suggest_user_btn">
        <app-icon [icon]="'plusGrey'" />
      </button>
    </div>
    <div class="sideright_suggest_user">
      <div class="sideright_suggest_user_data">
        <img
          class="avatar"
          src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="user image"
        />
        <div class="sideright_suggest_user_info">
          <span class="sideright_suggest_user_name">Julia Smith</span>
          <span class="sideright_suggest_user_username">juliasmith</span>
        </div>
      </div>
      <button class="sideright_suggest_user_btn">
        <app-icon [icon]="'plusGrey'" />
      </button>
    </div>
    <div class="sideright_suggest_user">
      <div class="sideright_suggest_user_data">
        <img
          class="avatar"
          src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="user image"
        />
        <div class="sideright_suggest_user_info">
          <span class="sideright_suggest_user_name">Julia Smith</span>
          <span class="sideright_suggest_user_username">juliasmith</span>
        </div>
      </div>
      <button class="sideright_suggest_user_btn">
        <app-icon [icon]="'plusGrey'" />
      </button>
    </div>
    <div class="sideright_suggest_user">
      <div class="sideright_suggest_user_data">
        <img
          class="avatar"
          src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="user image"
        />
        <div class="sideright_suggest_user_info">
          <span class="sideright_suggest_user_name">Julia Smith</span>
          <span class="sideright_suggest_user_username">juliasmith</span>
        </div>
      </div>
      <button class="sideright_suggest_user_btn">
        <app-icon [icon]="'plusGrey'" />
      </button>
    </div>
    <div class="sideright_suggest_user">
      <div class="sideright_suggest_user_data">
        <img
          class="avatar"
          src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="user image"
        />
        <div class="sideright_suggest_user_info">
          <span class="sideright_suggest_user_name">Julia Smith</span>
          <span class="sideright_suggest_user_username">juliasmith</span>
        </div>
      </div>
      <button class="sideright_suggest_user_btn">
        <app-icon [icon]="'plusGrey'" />
      </button>
    </div>
    <div class="sideright_suggest_user">
      <div class="sideright_suggest_user_data">
        <img
          class="avatar"
          src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="user image"
        />
        <div class="sideright_suggest_user_info">
          <span class="sideright_suggest_user_name">Julia Smith</span>
          <span class="sideright_suggest_user_username">juliasmith</span>
        </div>
      </div>
      <button class="sideright_suggest_user_btn">
        <app-icon [icon]="'plusGrey'" />
      </button>
    </div>
  </div>
</div>
