<header class="header_container">
  <div class="header_search_input">
    <input type="text" placeholder="Search for friends, groups, pages" />
    <app-icon [icon]="'search'" />
  </div>
  <div class="header_user_data">
    <div class="header_user_authorized_section">
      <div class="header_user_authorized_btns">
        <button class="btn" routerLink="post/new">
          Add New Post
          <app-icon [icon]="'plus'" />
        </button>
        <button class="header_user_icon_btn">
          <app-icon [icon]="'helpSupportDark'" />
        </button>
        <button class="header_user_icon_btn">
          <app-icon [icon]="'notifications'" />
        </button>
        <button class="header_user_icon_btn">
          <app-icon [icon]="'settingsDark'" />
        </button>
      </div>

      <app-drop-down
        [avatar]="userService.activeUser?.avatar"
        [id]="userService.activeUser?._id"
      />
    </div>
  </div>
</header>
