<div class="register box-shadow">
  <div class="register_logo">
    <app-icon [icon]="'bigLogo'"/>
    <span>register</span>
  </div>
  <form class="form" [formGroup]="registerForm" (submit)="onSubmit()">
    <label for="email">
      <app-icon [icon]="'email'"/>
      <input class="input" type="email" id="email" placeholder="Email" formControlName="email"/>
    </label>
    <span
      *ngIf="registerForm.controls['email'].invalid
      && registerForm.controls['email'].touched"
      class="form_error"
    >
      The email is invalid.
    </span>
    <label for="username">
      <app-icon [icon]="'user'"/>
      <input class="input" type="text" id="username" placeholder="Username" formControlName="username"/>
    </label>
    <span
      *ngIf="registerForm.controls['username'].invalid
      && registerForm.controls['username'].touched"
      class="form_error"
    >
      The username is required
    </span>
    <label for="password">
      <app-icon [icon]="'unlock'"/>
      <input
        class="input"
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
    </label>
    <span
      *ngIf="registerForm.controls['password'].invalid
      && registerForm.controls['password'].touched"
      class="form_error"
    >
      The password is required and must be at least 6 characters long.
    </span>
    <label for="confirm_password">
      <app-icon [icon]="'unlock'"/>
      <input
        class="input"
        type="password"
        id="confirm_password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
    </label>
    <span class="form_error"
          *ngIf="registerForm.controls['confirmPassword'].invalid
          && registerForm.controls['confirmPassword'].touched"
    >
        Passwords do not match.
    </span>
    <button class="auth_btn" [disabled]="registerForm.invalid">Register</button>
    <div class="account">
      <span class="span">Don't have an account?</span>
      <a class="link" [routerLink]="['/login']">LogIn</a>
    </div>
    <div class="link_btns">
      <button>
        <app-icon [icon]="'google'"/>
      </button>
      <button>
        <app-icon [icon]="'vk'"/>
      </button>
      <button>
        <app-icon [icon]="'youtube'"/>
      </button>
    </div>
  </form>
</div>
