<form class="profile_password" [formGroup]="profilePasswordForm" (ngSubmit)="onSubmit()">
  <h3 class="password_title">Password</h3>
  <app-input
    placeholder="Old Password"
    formControlName="oldPassword"
    [errors]="profilePasswordForm.controls.oldPassword.errors"
  />
  <app-input
    placeholder="New Password"
    formControlName="password"
    [errors]="profilePasswordForm.controls.password.errors"
  />
  <app-input
    placeholder="Confirm New Password"
    formControlName="confirmPassword"
  />
  @if (profilePasswordForm.errors?.['passwordMismatch']) {
    <span class="form_error">
        Passwords don't match
      </span>
  }
  <button class="btn" type="submit" [disabled]="profilePasswordForm.invalid">Save</button>
</form>
