<div class="register_cantainer">
  <div class="register box-shadow">
    <div class="register_logo">
      <app-icon [icon]="'bigLogo'" />
      <span>register</span>
    </div>
    <div class="form">
      <label for="email">
        <app-icon [icon]="'email'" />
        <input class="input" type="email" id="email" placeholder="Email" />
      </label>
      <label for="username">
        <app-icon [icon]="'user'" />
        <input class="input" type="text" id="username" placeholder="Username" />
      </label>
      <label for="password">
        <app-icon [icon]="'unlock'" />
        <input
          class="input"
          type="password"
          id="password"
          placeholder="Password"
        />
      </label>
      <label for="confirm_password">
        <app-icon [icon]="'unlock'" />
        <input
          class="input"
          type="password"
          id="confirm_password"
          placeholder="Confirm Password"
        />
      </label>
      <button class="auth_btn">Register</button>
      <div class="account">
        <span class="span">Don't have an account?</span>
        <a class="link" [routerLink]="['/login']">LogIn</a>
      </div>
      <div class="link_btns">
        <button>
          <app-icon [icon]="'google'" />
        </button>
        <button>
          <app-icon [icon]="'vk'" />
        </button>
        <button>
          <app-icon [icon]="'youtube'" />
        </button>
      </div>
    </div>
  </div>
</div>
