.edit_post_form {
    background-color: var(--white);
    border: 1px solid var(--border);
    border-radius: 24px;
    padding: 20px;
    width: 696px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.7%;
}

.post_form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.file_label {
    width: 100%;
    background: var(--background2);
    height: 165px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.75rem 0 0.75rem 1rem;

    input {
        display: none;
    }
}

.post_image {
    width: 100px;
    height: 100%;
}

.post_form_tag {
    display: flex;
    align-items: center;

    input {
        width: 100px;
        margin-right: 8px;
    }
}
