<div class="profile_settings">
  <div class="profile_apperance">
    <h3 class="profile_title">Apperance</h3>
    <app-input placeholder="Theme" />
    <app-input placeholder="Font Size" />
    <app-input placeholder="Interface language" />
    <button class="btn">Save</button>
  </div>
  <div class="profile_accesses">
    <label class="checkbox">
      <input type="checkbox" />
      <span class="checkmark"></span>
      Hide profile
    </label>
    <label class="checkbox">
      <input type="checkbox" />
      <span class="checkmark"></span>
      Push notifications
    </label>
    <label class="checkbox">
      <input type="checkbox" />
      <span class="checkmark"></span>
      Email notifications
    </label>
    <label class="checkbox">
      <input type="checkbox" />
      <span class="checkmark"></span>
      SMS notifications
    </label>
  </div>
</div>
