<article class="box-shadow bg-white w-[640px] border border-gray-300">
    <div class="border-b border-gray-300 flex items-center justify-between p-[20px]">
        <div class="flex items-center gap-[12px]">
            <img class="w-[48px] h-[48px] rounded-[50%]" [src]="post().user.avatar" alt="avatar" />
            <div class="flex flex-col gap-[4px] font-medium">
                <a [routerLink]="['/profile', this.post().user._id]">
                    <h3>{{ post().user.username | username }}</h3>
                </a>

                <p class="text-gray-500">{{ post().user.story }}</p>
            </div>
        </div>
        <button [matMenuTriggerFor]="menu">
            <icon class="cursor-pointer" [icon]="'dotsVertical'" />
        </button>
        <mat-menu #menu="matMenu">
            @for (item of menuItems; track $index) {
                @if (item.link) {
                    <a [routerLink]="item.link" mat-menu-item>{{ item.label }}</a>
                } @else {
                    <button mat-menu-item (click)="item.click?.()">{{ item.label }}</button>
                }
            }
        </mat-menu>
    </div>
    <div class="p-[20px] flex flex-col items-start gap-5">
        <p class="text-base font-medium leading-snug">{{ post().content }}</p>
        <carousel [images]="post().images" />
        <div class="w-full flex items-center justify-between">
            <div class="flex items-center gap-[12px]">
                <div class="flex items-cnter gap-[8px]">
                    <like-btn [post]="post()" />
                    <span *showIfLiked="post().likes.length">{{ post().likes.length }} Likes</span>
                </div>
                <div class="flex items-cnter gap-[8px] cursor-pointer select-none" (click)="toggleComments()">
                    <icon [icon]="'chat'" />
                    <span>{{ post().comments.length }} Comments</span>
                </div>

                <div class="flex items-cnter gap-[8px]">
                    <icon [icon]="'share'" />
                    <span>Share</span>
                </div>
            </div>
            <icon [icon]="'bookmark'" />
        </div>
        @if (_showComments()) {
            <div class="w-full rounded border border-gray-300 p-[14px] flex items-start justify-between">
                <div class="flex items-center gap-[8px]">
                    <img
                        class="w-[30px] h-[30px] rounded-[50%]"
                        src="https://cdn.jsdelivr.net/gh/alohe/memojis/png/vibrent_3.png"
                        alt="avatar"
                    />
                    <span class="font-medium">{{ 'author' | username }}</span>
                </div>
                <p class="max-w-[400px]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, recusandae?</p>
            </div>
        }
    </div>
    <div class="border-t border-gray-300 flex items-center gap-5 p-[20px]">
        <img class="w-[48px] h-[48px] rounded-[50%]" [src]="post().user.avatar" alt="avatar" />
        <mat-form-field class="w-full mb-[-20px]">
            <mat-label>Add Comment...</mat-label>
            <input matInput />
        </mat-form-field>
        <icon class="p-[8px] border border-purple-800 rounded-[50%]" [icon]="'send'" />
    </div>
</article>
