<article class="post_container box-shadow">
  <div class="post_top">
    <div class="post_top-info">
      <img
        class="post_avatar"
        src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
      <div class="post_top-info-block">
        <p class="post_top-info-block-name">{{'USERNAME'| username}}</p>
        <span class="post_top-info-block-desc">USER DESCRIPTION</span>
      </div>
    </div>
    <app-icon [icon]="'dotsVertical'" />
  </div>
  <div class="post_main">
    <div class="post_main-text">
      {{ post.content | cutText }}
      @for (tag of post.tags; track $index) {
      <span class="post_main-text-span">#{{ tag }}</span>
      }
    </div>
    @if (post.image) {
    <img class="post_main-image" src="{{ post.image }}" alt="post image" />
    }
    <div class="post_main-icons">
      <div class="post_main-icons-communicate">
        <div class="post_main-icons-communicate-likes">
          <span *appShowIfLiked="post.likes">{{ post.likes }}</span>
          <button (click)="likePost(post._id)">
            <app-icon [icon]="'like'" />
          </button>
        </div>
        <button (click)="toggleComments()">
          <div class="post_main-icons-communicate-comments">
            <span>{{ post.comments.length }}</span>
            <app-icon [icon]="'chat'" />
          </div>
        </button>
        <div class="post_main-icons-communicate-share">
          <span>187</span>
          <app-icon [icon]="'share'" />
        </div>
      </div>
      <app-icon [icon]="'bookmark'" />
    </div>
    <div class="post_main-comments" *ngIf="showComments">
      @for (comment of post.comments; track $index) {
      <div class="post_main-comments-item box-shadow">
        <p class="post_main-comments-item-name">comment authorName</p>
        <p class="post_main-comments-item-content">{{ comment }}</p>
      </div>
      }
    </div>
  </div>
  <div class="post_bottom">
    <div class="post_bottom-comment">
      <img
        class="post_avatar"
        src="https://images.unsplash.com/photo-1737543456099-9e88da04eaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
      <input
        class="post_bottom-comment-input"
        type="text"
        placeholder="Write your comment.."
      />
    </div>
    <div class="post_bottom-btns">
      <button>
        <app-icon [icon]="'attach'" />
      </button>
      <button>
        <app-icon [icon]="'smile'" />
      </button>
      <button>
        <app-icon [icon]="'send'" />
      </button>
    </div>
  </div>
</article>
