<div>
    <div class="flex items-start gap-[32px]">
        <img class="rounded-[50%] mr-[100px]" [src]="data?.avatar" alt="" />
        <div class="flex flex-col items-start gap-5">
            <div class="flex items-center gap-5">
                <h3 class="text-2xl font-medium">{{ `${data?.username}` | username }}</h3>
                @if (ifAuth()) {
                    <button mat-flat-button class="w-[120px]">Edit</button>
                } @else {
                    <button mat-flat-button class="w-[120px]">Follow</button>
                }
                <icon [icon]="'dotsVertical'" />
            </div>
            <div class="flex items-center gap-[32px]">
                <div class="flex items-center gap-2">
                    <p class="font-medium text-xl">{{ _postsLength() }}</p>
                    <p>posts</p>
                </div>
                <div class="flex items-center gap-2">
                    <p class="font-medium text-xl">{{ data?.followers?.length }}</p>
                    <p>followers</p>
                </div>
                <div class="flex items-center gap-2">
                    <p class="font-medium text-xl">{{ data?.following?.length }}</p>
                    <p>following</p>
                </div>
            </div>
            <div class="info">
                <p class="font-medium text-xl">{{ data?.fullname }}</p>
            </div>
        </div>
    </div>

    <div class="mt-[100px]">
        <nav mat-tab-nav-bar>
            @for (tab of tabs; track $index) {
                <a
                    mat-tab-link
                    [routerLink]="tab.link"
                    routerLinkActive
                    #rla="routerLinkActive"
                    [active]="rla.isActive"
                >
                    {{ tab.label }}
                </a>
            }
        </nav>
        <router-outlet />
    </div>
</div>
