<div>
    <div class="flex items-start gap-[32px]">
        <img class="rounded-[50%] mr-[100px]" [src]="userData()?.avatar" alt="" />
        <div class="flex flex-col items-start gap-5">
            <div class="flex items-center gap-5">
                <h3 class="text-2xl font-medium">{{ `${userData()?.username}` | username }}</h3>
                @if (ifAuth()) {
                    <button mat-flat-button class="w-[120px]">Edit</button>
                } @else {
                    <follow-btn [user]='userData()' />
                }
                <icon [icon]="'dotsVertical'" />
            </div>
            <div class="flex items-center gap-[32px]">
                <div class="flex items-center gap-2">
                    <p class="font-medium text-xl">{{ _postsLength() }}</p>
                    <p>posts</p>
                </div>
                <div class="flex items-center gap-2">
                    <p class="font-medium text-xl">{{ userData()?.followers?.length }}</p>
                    <p>followers</p>
                </div>
                <div class="flex items-center gap-2">
                    <p class="font-medium text-xl">{{ userData()?.following?.length }}</p>
                    <p>following</p>
                </div>
            </div>
            <div class="info">
                <p class="font-medium text-xl">{{ userData()?.fullname }}</p>
            </div>
        </div>
    </div>

    <div class="mt-[100px]">
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            @for (tab of tabs; track $index) {
                <a
                    mat-tab-link
                    [routerLink]="tab.link"
                    routerLinkActive
                    #rla="routerLinkActive"
                    [active]="rla.isActive"
                >
                    {{ tab.label }}
                </a>
            }
        </nav>
        <mat-tab-nav-panel #tabPanel>
            <router-outlet></router-outlet>
        </mat-tab-nav-panel>
    </div>
</div>
