<div
  class="user-avatar"
  (mouseenter)="showDropdown = true"
  (mouseleave)="showDropdown = false"
>
  <ng-content/>
  @if (showDropdown) {
    <div class="dropdown-menu">
      @for (item of dropDownItems; track $index) {
        @if (item.click) {
          <button class="dropdown-menu-item" (click)="item.click()">
            {{ item.label }}
          </button>
        } @else {
          <a class="dropdown-menu-item" [routerLink]="item.link">
            {{ item.label }}
          </a>
        }
      }
    </div>
  }
</div>
