<div class="relative inline-block" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
    <ng-content />
    @if (showDropdown) {
        <div
            class="absolute top-full right-0 bg-[#f8fafc] border border-gray-300 rounded-lg flex flex-col items-center min-w-[150px] z-50"
        >
            @for (item of dropDownItems; track $index) {
                @if (item.link) {
                    <a
                        class="w-full px-2 py-1 text-black text-base leading-tight tracking-tighter transition-all duration-500 hover:bg-gray-200 cursor-pointer"
                        [routerLink]="item.link"
                    >
                        {{ item.label }}
                    </a>
                } @else {
                    <button
                        class="text-start w-full px-2 py-1 text-black text-base leading-tight tracking-tighter transition-all duration-500 hover:bg-gray-200 cursor-pointer"
                        (click)="item.click?.()"
                    >
                        {{ item.label }}
                    </button>
                }
            }
        </div>
    }
</div>
