<div class="user-avatar" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
    <ng-content />
    @if (showDropdown) {
        <div class="dropdown-menu">
            @for (item of dropDownItems; track $index) {
                <ng-container *ngIf="item.link; else notLink">
                    <a class="dropdown-menu-item" [routerLink]="item.link">
                        {{ item.label }}
                    </a>
                </ng-container>
                <ng-template #notLink>
                    <button class="dropdown-menu-item" (click)="item.click?.()">
                        {{ item.label }}
                    </button>
                </ng-template>
            }
        </div>
    }
</div>
