h2 {
  font-size: 32px;
  font-weight: 700;
  padding: 28px;
}

.profile_container {
  width: 1544px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 28px 0 28px 28px;
  width: 100%;
}

.profile_info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;

  .profile_info-name {
    font-size: 34px;
    font-weight: bold;
  }
}
