<div class="w-sm w-full flex flex-col items-center justify-center rounded-xl border border-gray-300 p-[22px]">
    <h1 class="text-2xl mb-[22px]">Login Form</h1>
    <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="w-full flex flex-col items-center justify-center gap-[10px]"
    >
        <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" />
        </mat-form-field>
        <button class="w-full" type="submit" mat-flat-button [disabled]="loginForm.invalid">Login</button>
    </form>
</div>
