<div class="login box-shadow">
  <div class="login_logo">
    <app-icon [icon]="'bigLogo'" />
    <span>login</span>
  </div>
  <form class="form" [formGroup]="loginForm" (submit)="onSubmit()">
    <label for="email">
      <app-icon [icon]="'email'" />
      <input class="input" type="email" id="email" placeholder="Email" formControlName="email" />
    </label>
    @if (loginForm.controls.email.invalid && loginForm.controls.email.touched) {
      <span class="form_error">This field is not valid</span>
    }
    <label for="password">
      <app-icon [icon]="'unlock'" />
      <input
        class="input"
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
    </label>
    @if (loginForm.controls.password.invalid && loginForm.controls.password.touched) {
      <span class="form_error">This field is required</span>
    }
    <div class="forgot">
      <label for="checkbox">
        <input type="checkbox" id="checkbox" />
        <span class="span">Remember me</span>
      </label>
      <a class="link" [routerLink]="['/forgot']"> Forgot Password? </a>
    </div>
    <button class="btn" type="submit" [disabled]="loginForm.invalid">Login</button>
    <div class="account">
      <span class="span">Don't have an account?</span>
      <a class="link" [routerLink]="['/register']">Register</a>
    </div>
    <div class="link_btns">
      <button>
        <app-icon [icon]="'google'" />
      </button>
      <button>
        <app-icon [icon]="'vk'" />
      </button>
      <button>
        <app-icon [icon]="'youtube'" />
      </button>
    </div>
  </form>
</div>
