<div class="profile_info">
  <div class="profile_section1">
    <img class="profile_avatar" [src]="userService.activeUser?.avatar" alt=""/>
    <div class="profile_user_btns">
      <button class="btn">Change Photo</button>
      <button class="un-btn">Delete</button>
    </div>
  </div>
  <div class="profile_section2">
    <div class="profile_info">
      <h3 class="profile_title">Info</h3>
      <div class="profile_info_section">
        <app-input placeholder="Last Name"/>
        <app-input placeholder="Full Name"/>
      </div>
      <app-input placeholder="City"/>
      <app-input placeholder="Story"/>
      <button class="btn">Save</button>
    </div>
    <div class="profile_password">
      <h3 class="profile_title">Password</h3>
      <app-input placeholder="Old Password"/>
      <app-input placeholder="New Password"/>
      <app-input placeholder="Confirm New Password"/>
      <button class="btn">Save</button>
    </div>
  </div>
</div>
